h1{
    
    color: red;
    position: relative;
    /*position: static;
    left: 100px;
    top: 100px;*/
    
}

.banner{
    position: relative;
}

.banner img{max-width: 100%}

.banner .welcome{
    position: absolute;
    left: 0px;
    top: 30%;
  }

